page {
  display: flex;
  flex-direction: column;
  background-color: var(--comp1-grey);
  height: 100vh;
}

menu {
  width: 100%;
  min-height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: top;
}

main {
  text-align: center;
  background-color: var(--light);
  height: 100vh;
  border-radius: 300px 0px 50px 0px / 50px 0px 300px 0px;
}

footer {
   bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
