<nav>
    <div class="nav-item">
        <NavLink href="" Match="NavLinkMatch.All"> ProcessLog </NavLink>
    </div>
    <div class="nav-item">
        <NavLink href="editModel"> Modèle de projet </NavLink>
    </div>

</nav>


@code {

}
