.page[b-44knewmhiu] {
  display: flex;
  flex-direction: column;
}

main[b-44knewmhiu] {
  flex: 1;
}

.sidebar[b-44knewmhiu] {
  background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
  width: 100%;
  height: 50px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
}

footer[b-44knewmhiu]{
  position: absolute;
  bottom: 0;
}
