nav[b-vq85bom6mq] {
  display: flex;
}

.nav-item[b-vq85bom6mq] {
  font-size: 1.5rem;
  margin: 0px 20px;
}

.nav-item[b-vq85bom6mq]  a {
  color: var(--prin1);
  border-radius: 4px;
  height: 3rem;
  display: flex;
  align-items: center;
  line-height: 3rem;
  text-decoration: none;
}

.nav-item[b-vq85bom6mq]  a.active {
  color: var(--prin1);
  font-weight: bold;
}

.nav-item[b-vq85bom6mq]  a:hover {
  color: var(--prin1);
}
