/* /Shared/MainLayout.razor.rz.scp.css */
page[b-44knewmhiu] {
  display: flex;
  flex-direction: column;
  background-color: #ABF0AB;
  height: 100vh;
}

menu[b-44knewmhiu] {
  width: 100%;
  height: 50px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: top;
}

main[b-44knewmhiu] {
  background-color: #f8e9e9;
  height: 100%;
  border-radius: 300px 0px 50px 0px / 50px 0px 300px 0px;
}

footer[b-44knewmhiu] {
   bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
/* /Shared/NavMenu.razor.rz.scp.css */
nav[b-vq85bom6mq] {
  display: flex;
}

.nav-item[b-vq85bom6mq] {
  font-size: 1.5rem;
  margin: 0px 20px;
}

.nav-item[b-vq85bom6mq]  a {
  color: #FF6161;
  border-radius: 4px;
  height: 3rem;
  display: flex;
  align-items: center;
  line-height: 3rem;
  text-decoration: none;
}

.nav-item[b-vq85bom6mq]  a.active {
  color: #FF6161;
  font-weight: bold;
}

.nav-item[b-vq85bom6mq]  a:hover {
  color: #E71D1D;
}
